.houseindex{
  margin-bottom: 100rpx;
 .index_list{
     margin: 24rpx 16rpx;
     .index_item{
         background: #fff;
         padding: 18rpx 18rpx 0;
         margin-bottom: 24rpx;
         .post{
           display: block;
           width: 100%;
           height: 358rpx;
          }
         .title{
             font-size: 30rpx;
             padding: 20rpx 0;
             color: #333;
         }
     }
 }
}